extends layout

block body 
    h2 Это контент главной страницы
    table
        tr
            each nm in names 
                th #{nm}
        -for(pr of products)
            tr
                each el in pr 
                    td #{el}