doctype html 
html 
    head
        title Главная страница
        meta(charset="utf-8")
        link(rel="stylesheet" href="style.css") 
    body
        h1 Главная <br> страница
        block body 
        //- block body
        //- block - ключевое слово для связи шаблона с макетом body - любое, слово которое мы используем в качестве идефекатора для шаблона
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, amet.