doctype html 
html 
    head
        title Главная страница
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/style.css") 
        link(rel="favicon" href="/favicon.ico")
        style.
            body {
                font-family: sans-serif;
            }
    body
        block body 
        //- block body
        //- block - ключевое слово для связи шаблона с макетом body - любое, слово которое мы используем в качестве идефекатора для шаблона
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, amet.