body
    display flex
    justify-content center
    align-items center
    flex-direction column
    margin 0
    min-height 100vh
    h2 // body h2
        color crimson
    &>h1 // body>h1
        color white
    &:hover // body:hover
        background-color pink
